*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    padding: 5vw;
    display: flex;
    gap: 75px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    /* height: 25vw; */
    width: 20vw;
    background-color: #ffffffc7;
    text-align: center;
    border-radius: 2vw;
    padding: 1vw;
}
.card img{
    height: 15vw;
    width: 15vw;
    padding: 2vw;
    object-fit: cover;
    border-radius: 50%;
}
.card h3{
    font-size: 2.2vw;
    margin-bottom: 0.5vw;
}
.card h4{
    font-size: 1.5vw;
    color: red;
    margin-bottom: 0.5vw;
}
.card p{
    font-size: 1.3vw;
    /* margin-bottom: 5vw; */
}
