*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #333;
}
:root{
    --x: 10px;
    --y: 10px;
}
body{
    background-image: url(https://images.pexels.com/photos/707344/pexels-photo-707344.jpeg);
    background-size: cover;
}
.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(120px at var(--x) var(--y),rgba(255, 255, 255, 0)0%,rgba(0, 0, 0, 0.825)80%,rgba(0, 0, 0, 0.925));
}