*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.balls{
    display: flex;
    gap: 20px;
    border: 2px solid white;
}
.balls:has(.red){
    background-color: pink;
}

.ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

