*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    padding: 50px;
}

.elem{
    width: 100%;
    background-color: rgba(43, 42, 42, 0.87);
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.elem h2{
    font-size: 2em;
}
.elem button{
    padding: 10px 40px;
    background-color: royalblue;
    border-radius: 10px;
    font-size: 1.2em;
}