*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 600px;
    width: 350px;
    background-color: #ffffffe8;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#storiyaan{
    height: 120px;
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyaan::-webkit-scrollbar{
    overflow: hidden;
}
.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(209, 28, 28);
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
