*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 0px rgb(255, 0, 123);
    border-radius: 15px;
    background: 
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate),black,black,rgb(255, 0, 123),black) border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    text-shadow: 0 0 0px rgb(255, 0, 195);
}
.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(255, 0, 123);
    color: rgb(255, 0, 123);
    text-shadow: 0 0 10px rgb(255, 0, 195);
}
.box img{
    width: 100%;
}
.box h1{
    font-size: 1.8rem;
}