*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 2vw;
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}