*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
}
main{   
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: 200px;
    background-color: rgb(32, 178, 105);
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid white;
}

button{
    font-size: 25px;            
    font-weight: 600;
    background-color: green;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
    background-color: rgb(75, 74, 74);
    scale: 0.96;
}